
<body>
    <% layout('layouts/boilerplate') -%>

    <h3>Edit Existing Listing</h3><br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" name="listing[title]" value="<%=listing.title%>"><br><br>
        <textarea name="listing[description]" value=""><%=listing.description%></textarea><br><br>
        <input type="text" name="listing[image]"  value="<%=listing.image%>"> - add new url here<br><br>
        <input type="number" name="listing[price]"  value="<%=listing.price%>"><br><br>
        <input type="text" name="listing[location]" value="<%=listing.location%>"><br><br>
        <input type="text" name="listing[country]"  value="<%=listing.country%>"><br><br>
        <button type="submit">Final Edit</button>
    </form>
</body>
